# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / Editor settings
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Coverage / testing
coverage/
.nyc_output/

# Cache
.cache/
.eslintcache
.turbo/


prisma/generated/prisma
src/services/downloads